@media screen and (min-width: 550px) {
    .col
    {
        width: calc(100% / 2 - 40px / 2);
    }

    .container
    {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .col
    {
        width: calc(100% / 3 - 40px * 2 / 3);
    }
}